*{
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container{
    position: relative;
    height: 100%;                
    width: 100%;
    border-radius: 5px;
}
li,a{
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10%;
}
.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    padding: 0px 30px;
}
.texting{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left:10%;
    margin-top: 50px;
    font-family: sans-serif;
}
.texting h3{
    margin: 0px;
    font-size: 45px
}
.texting h1{
    margin: 0px;
    font-size: 100px;
}
.texting h4{
    margin: 0px;
    font-size: 20px;
    width: 400px;
}
.texting p{
    margin-top: 30px;
    width: 600px;
}
.buttons{
    flex-wrap: wrap;
    margin-left: 10%;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}
.start-free{
    padding: 10px 30px;
    font-size: 15px;
    background-color: rgb(50, 50, 253);
    color: white;
    cursor: pointer;
}
.discover{
    padding: 10px 30px;
    font-size: 15px;
    background: none;
    cursor: pointer;
}
.start-free:hover{
    background: none;
    color: black;
}
.discover:hover{
    background-color: rgb(50, 50, 253);
    color: white;
}
.box{
    position: absolute;
    right: 10%;
    top: 22%;
    border-radius: 20px;
    height: 640px;
    width: 500px;
    background-image: url("img\ 1.jpg");
    box-shadow: 10px 10px 30px black;
    background-size: cover;
}

/* The features page*/

.second-container{
    height: 100%;
    width: 100%;
    background-color: black;
}
.headings{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    color: antiquewhite;
}
.headings h1{
    font-size: 50px;
    margin-top: 100px;
}
.headings h3{
    font-size: 30px;
    margin-top: 40px;
    font-weight: 100;
    margin-bottom: 50px;
}

/*Features Boxes*/

.all-boxes{
    display: flex;
    justify-content: space-evenly;
}
.box1,.box2,.box3,.box4{
    position: relative;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    background-color: white;
}
.circles1{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 10%;
    bottom: 85%;
    background-color: lime;
    border-radius: 50%;
}
.circles2{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 10%;
    bottom: 85%;
    background-color: rgb(250, 39, 39);
    border-radius: 50%;
}
.circles3{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 10%;
    bottom: 85%;
    background-color: rgb(49, 49, 251);
    border-radius: 50%;
}
.circles4{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 10%;
    bottom: 85%;
    background-color: rgb(255, 255, 18);
    border-radius: 50%;
}
.features-text{
    position: absolute;
    left: 10%;
    top: 15%;
    font-size: large;
    font-family: sans-serif;
}
.features-text p{
    font-size:small;
    width: 250px;
}
.features-text label{
    text-decoration: underline;
    font-size: medium;
}
.explore{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.more-features{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: antiquewhite;
}
